<!DOCTYPE html>
<html>
<head>
    <title>Team Information</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styling/index.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Player Number</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Year In School</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="/teams">Return to Teams</a>
</body>
</html>
